body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  height: 70px;
  overflow: hidden;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  width: 100%;
}

p {
    float: right;
    padding-top: 6 px;
    padding-right: 20px;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.selection {
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  background-color: peru;
  border-radius: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hello {
  padding: 50px;
}